body {
    margin: 0;
    padding: 0;
    font-family: "Cardo", serif;
    background-color: #f0f0f0;
}

header {
    font-family: "Oswald", sans-serif;
    color: black;
    background-image: url("images/headerpic2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    font-size: 25px;
    margin: 0px;
    padding: 40px;
    padding-left: 20px;
}

.bigheader {
    margin: 0px;
}

.fencingicon {
    position: relative;
    top: 25px;
    width: 70px;
    height: 50px;
    margin-left: 30px;
}

.headerdescription {
    color: #242424;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

article {
    min-height: 100vh;
}

article h2 {
    margin: 10px
}

article p {
    margin: 20px;
}

nav ul {
    background-color: lightblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
    /*floated children li is not inside the container by default*/
    ;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: normal
}

nav li a:hover {
    background-color: white;
    color: lightblue;
}

.fencingcombat {
    width: 100%;
}

footer {
    background-color: lightblue;
    padding: 20px;
    color: white;
    text-align: center;
    /*bottom white space due to not enough content*/
}